# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.exe

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*.Debug
*.Release
ddb_gui_qt5_plugin_import.cpp
ddb_gui_qt5_plugin_resources.cpp
.qmake.*
*-build-*
ui_*
config.log
release/
debug/
